<div class="container">

    <% @movies.each do |movie| %>
        <div class="row col-md-3" style="margin:2px;">
          <div class="well">
            <tr>
              <h4 id="title"><%= link_to movie.title, movie_path(movie) %></h4>
              <div onclick="toggleDescription(this)">
                <img src="<%= movie.image_url%>" class="img-responsive">
                <p class="description" style="display:none;"><%= movie.description %></p>
              </div>
              <% if current_user %>
                <p><% link_to("Edit movie", edit_movie_path(movie)) %></p>
                <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </tr>
          </div>
        </div>
      <% end %>
    </div>

  <br>

  <div class="row col-md-3">
     
    <% if current_user %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to("ADMIN LOG IN", "users/sign_in") %>
    <% end %>  
  </div>

</div>

<script>

  var hidden = true;
  toggleDescription = function(movie) {
    var description = movie.getElementsByTagName('p')[0]

    if (hidden) { 
      description.style.display = '';
      hidden = false;
    } else {
      description.style.display = 'none';
      hidden = true;
    }
    
  }

</script>