<div class="container">

    <div class="row">
      <% @movies.each do |movie| %>
      <div class="row col-md-4">
        <div class="well">
          <tr>
            <h3><%= movie.title %></h3>
            <img src="<%= movie.image_url%>" class="img-responsive">
            <p><%= movie.description %></p>

            <% if current_user && current_user.role.name = "admin" %>
              <a href="/movies/<%= movie.id %>/edit">Edit movie</a>
              <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </tr>
          </div>
        </div>
      <% end %>
    </div>

  <br>

  <% if current_user && current_user.role.name = "admin" %>
    <%= link_to 'New Movie', new_movie_path %>
  <% end %> 

   
  <% if current_user %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% end %>  
</div>