<div class="container">

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Select Movie
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @movies.each do |movie| %>  
      <li><%= link_to(movie.title, movie_path(movie)) %></li>
    <% end %>
    </ul>
  </div>

  <h2>All Showings of: <%= @movie.title %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Auditorium</th>
        <th>Remaining tickets</th>
      </tr>
    </thead>
    <% @showings.each do |showing| %>
      <tbody>
        <tr>
          <td><%= showing.start_time.strftime("%b %e, %l:%M %p") %></td>
          <td><%= showing.auditorium.id %></td>
          <td><%= showing.remaining_seats %></td>
          <% if showing.remaining_seats > 0 %>
            <td><%= link_to("Buy Ticket", buy_path) %></td>
          <% else %>
            <td>SOLD OUT</td>
          <% end %>
        </tr>
      </tbody>
      <% end %>
  </table>

  <%= link_to("Back", movies_path) %>

</div>
